%article.bbs-topic
  %h1.bbs-topic__title Topics

  = link_to 'create new topic', bbs.new_category_topic_path(@category)

  %ol.bbs-topic-list
    - @topics.each do |topic|
      %li.bbs-topic-item= link_to topic.title, bbs.topic_comments_path(topic)
