%article.bbs-article
  = cell('bbs/article', @topic)

  - @comments.each do |comment|
    %article.bbs-article
      = cell('bbs/article', comment)

  .bbs-pagination
    = paginate @comments

= render partial: 'bbs/shared/comment_form', locals: {topic: @topic, comment: @comment}
