%header.bbs-article__header
  %h1.bbs-article__title= title

  %span.bbs-avatar
    %img(src='http://pin.anime.com/wp-content/uploads/avatar-96x96.png')
  %span.bbs-article__author-name
    名無しさん
  %span.bbs-article__posted_at
    投稿日時
    = created_at

%p.bbs-article__body= body
