.bbs-avatar
  img
    width: 48px
    height: 48px

.bbs-article
  &__body
    margin-top: 15px
    white-space: pre

  &__posted-at
    margin: auto
    margin-right: 0

  &__title
    font-size: 2rem

.bbs-article-creation
  display: flex
  align-items: center
