%article.bbs-categories
  %h1.bbs-categories__title= t('.title')

  %ol.bbs-category-list
    - @categories.each do |category|
      %li.bbs-category-item{data: {category: "#{category.name}"}}
        = link_to category.name, bbs.category_topics_path(category)
